@{ Layout = null; }

<div class="ty-body" style="width: 874px;">
    <h1>Home</h1>
    <hr/>
    Go here
    <h4>
        <a href="#/Details?id=123">Job Example</a>
    </h4>
    <h4>
        <a href="#/List">All Jobs</a>
    </h4>
</div>
