@{ Layout = null; }

<div class="ty-body" style="width: 874px;">
    <h2>About Us</h2>
    <hr/>
    We are something to do with listing jobs for people

    <div class="container-fluid">
        <img class="img-responsive" src="https://www.colourbox.com/preview/2475969-happy-office-worker-at-his-desk-isolated-on-white-background.jpg" />    
    </div>
    
</div>
