@{ Layout = null; }

<div class="ty-body" style="width: 874px;">
    <h1>All Jobs</h1>
    <hr/>
    <h4><a href="#/Details?id=1">Example 1</a></h4>
    <h4><a href="#/Details?id=2">Example 2</a></h4>
</div>
